@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --Text-01: #fff;
  --Text-02: #efede8a6;
  --Dark-03: #727272;
  --section-bg: #222;
  --card-bg: #ffffff1a;
  --btn-bg: #e6533c;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--Text-01);
}

h1 {
  color: #fff;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-align: canter;
}
h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
  text-align: left;
}
h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%; /* 33.6px */
}
h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%; /* 24px */
}
h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%; /* 24px */
}
h6 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%; /* 24px */
}
p {
  color: var(--Text-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.list-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
  line-height: 120%; /* 27.6px */
}
button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  background: #e6533c;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  border: none;
}
.btn-secondary {
  background: none;
  border-radius: 42px;
  border: 1px solid #fff;
}

/* img:hover {
  transform: scale(1.01);
  transition: 0.5s ease-in-out;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
body{
  background: #000;
}

/* ======================== */
/* Heading Section start */

header {
  /* background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%); */
  background-image: linear-gradient(rgb(0, 0, 0), #222222, rgb(0, 0, 0));
  text-align: center;
  padding-top: 55px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #e6533c;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 43.2px */
}
.nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav-list ul li {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
}
.nav-span {
  background: #e6533c;
}
.nav-list ul li:hover{
  border: 1px solid #e6533c;
}
.heading-span {
  /* font-family: "Dancing Script", cursive; */
  font-family: 'Miama', sans-serif;
}

.hamburger-icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
/* =========Bannner Section=============== */
.banner-section {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
}
.banner-text-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 28px;
}

.btn-div {
  display: flex;
  gap: 14px;
  justify-content: flex-start;
  align-items: center;
}

.banner-img-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.banner-img-div .image {
  width: 349px;
  height: 580px;
  flex-shrink: 0;
}
.card {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: fit-content;
}
.card h3,
p {
  text-align: start;
}
.card p {
  font-size: 14px;
}
.card-1 {
  position: absolute;
  top: 25%;
  right: 5%;
}
.card-2 {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  bottom: 15%;
  left: 5%;
}
.card-2 .circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--btn-bg);
  margin: 12px;
}

/* Change Your Habits */
.change-habit, .training{
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.change-habit .text-div p{
  text-align: center;
}
.change-habit .img-box-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.img-box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.img-box img{
  border-radius: 50%;
}
.img-box div p{
 text-align: center;
 font-size: 14px;
}

/* ========================== */
/* Run an Extra Mile */


.run-extra-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  align-self: stretch;
  border-radius: 18px;
  background: #222;
}

.run-extra-div .run-text-div p{
  margin: 14px 0 34px 0;
}
.run-extra-div .run-text-div button{
  padding: 16px 80px;

}

.run-extra-div .run-img-div img{
  border-radius: 18px;
}
/* =======Run an Extra Mile Done=======  */

/* Trainings and Exercises start */
.titles{
  display: grid;
  gap: 14px;
}
.training-text-div{
  justify-content: center;
  align-items: center;
}
.training-text-div p,h2{
  text-align: center;
}
.training-img-div{
  display: grid;
  gap: 0;
}

.training-img-div .img-div-1{
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;  
}
.training-img-div .img-div-2{
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;  
}

.training-img{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: center;
    height: 200px;
    display: flex;
}
.training-img p{
  font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.img-1{
  background-image: url("../images/exercise1.jpg");
  background-color: rgba(0, 255, 255, 0.349);
}
.img-2{
  background-image: url("../images/exercise2.png");
  background-color: rgba(167, 49, 69, 0.479);
}
.img-3{
  background-image: url("../images/exercise3.png");
  background-color: rgba(72, 77, 77, 0.589);
}
.img-4{
  background-image: url("../images/exercise4.png");
  background-color: rgba(61, 35, 35, 0.651);
}
.img-5{
  background-image: url("../images/exercise5.jpg");
  background-color: rgba(49, 161, 58, 0.596);
}
.img-6{
  background-image: url("../images/exercise6.jpg");
  background-color: rgba(50, 117, 180, 0.658);
}

/* =======End Trainings Exercises=====================  */



.team-div{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.10);
}

.team-div .team-img{
    height: 200px;
    border-radius: 18px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat; */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 10px 10px;
    background-color: rgba(61, 65, 65, 0.349);
}

.team-1{
  background-image: url("../images/trainer1.png");
}
.team-2{
  background-image: url("../images/trainer2.png");
}
.team-3{
  background-image: url("../images/trainer3.png");
}
.team-4{
  background-image: url("../images/trainer4.png");
}
.team-5{
  background-image: url("../images/trainer5.png");
}
.team-6{
  background-image: url("../images/trainer6.png");
}











/* =======ResponSIve Strat=================== */
/* =======Mobile============== */
/* ============================  */
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .banner-section {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .banner-text-div h1 {
    font-size: 36px;
    
  }
  
  button {
    font-size: 16px;
    padding: 16px 20px;
  }
  .card {
    padding: 10px;
  }
  .card h3 {
    font-size: 28px;
  }
  .card-1 {
    position: absolute;
    top: -7%;
    right: 1%;
  }

  /* =========Header Section done========== */
  .change-habit .img-box-div{
    flex-direction: column;
  }
  /* =========Change Your Habits Section done========== */

  .run-extra-div{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 30px ;

  }
  .run-text-div button{
    width: 100%;
  }
/* =======Run an Extra Mile Done=======  */
.training-img-div{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;  
}
.training-img-div .img-div-1,
.training-img-div .img-div-2{
  display: grid;
  grid-template-columns: 1fr 1fr;  
}
.img-3, .img-6{
  display: none;
}
/* =======End Trainings Exercises=====================  */
.team-div{
  grid-template-columns: repeat(1,1fr);
}



}











/* ============================  */
/* ========Tablet==============  */
/* ============================  */
@media screen and (min-width: 576px) and (max-width: 768px) {

  .hamburger-icon {
    display: none;
  }
  .banner-section {
    grid-template-columns: repeat(1, 1fr);
  }

  /* =========Header Section done========== */
  .change-habit .img-box-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  /* =========Change Your Habits Section done========== */
 .run-extra-div{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 30px ;

  }
  .run-text-div button{
    width: 100%;
  }
/* =======Run an Extra Mile Done=====================  */
.training-img-div .img-div-1,
.training-img-div .img-div-2{
  grid-template-columns: repeat(3, 1fr);
}
/* =======End Trainings Exercises=====================  */
 .team-div{
  grid-template-columns: repeat(2,1fr);
}




}









/* ============================  */
/* ============================  */
/* =========Laptop=============  */
/* ============================  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .run-extra-div{
    gap: 50px;
  }
/* =======Run an Extra Mile Done=====================  */






}














/* ============================  */
/* =========Desktop=============  */
/* ============================  */
@media screen and (min-width: 1024) {



  
}
